{% extends 'base.html.twig' %}

{% block title %}Modifier Tâche{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier la tâche</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Mettre à jour</button>
        {{ form_end(form) }}

        <div class="mt-3">
             <a href="{{ path('app_objectif_show', {'id': tache.objectif.id}) }}" class="btn btn-link">Retour à l'objectif</a>
             <div class="d-inline-block">
                 {{ include('tache/_delete_form.html.twig') }}
             </div>
        </div>
    </div>
{% endblock %}
